{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}"> <!-- Incluye tu hoja de estilo de login -->
{% endblock %}

{% block content %}
<div class="login-container"> <!-- Usa la misma clase que en tu login.html -->
    <h1 style="font-size: 3vh;">{% translate "Confirmacion de Reseteo de Contraseña" %}</h1>

    {% if validlink %}



    
    <form method="post">
    <p style="font-size: 3vh;">{% translate "Porfavor ingrese su nueva contraseña dos veces para poder verificar que ha sido escrita correctamente" %}</p>
    {% csrf_token %}
        <div class="form-row">
            {{ form.new_password1.errors }}
            <label for="{{ form.new_password1.id_for_label }}" class="visually-hidden" style="font-size: 3vh;">{% translate 'New password:' %}</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row">
            {{ form.new_password2.errors }}
            <label for="{{ form.new_password2.id_for_label }}" class="visually-hidden" style="font-size: 3vh;">{% translate 'Confirm password:' %}</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" style="font-size: 3vh;"value="{% translate 'Change my password' %}">
    </form>

    {% else %}

    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}



    
</div>
{% endblock %}
