{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}"> 
{% endblock %}

{% block content %}
<div class="login-container"> 
    <div>
        <h1 style="font-size: 3vh;padding-bottom: 10px; text-align: justify;">Se ha enviado un email de reseteo de contraseña </h1>
        <p style="font-size: 3vh;text-align: justify;"> Se le han enviado instrucciones sobre cómo establecer su contraseña. <br>Si la dirección de email que proveyó existe, debería recibir las mismas pronto.</p>
        <p style="font-size: 3vh;text-align: justify;">Si no ha recibido un email, por favor asegúrese de que ha introducido la dirección de correo <br> con la que se había registrado y verifique su carpeta de Correo no deseado.</p>
    
    </div>
</div>
{% endblock %}