{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}"> <!-- Incluye tu hoja de estilo de login -->
{% endblock %}

{% block content %}
<div class="login-container"> <!-- Usa la misma clase que en tu login.html -->
    <h1 style="font-size: 3vh;">{% translate "Reseteo de Contraseña" %}</h1>
    <p style="font-size: 3vh;">{% translate 'Porfavor ingrese su correo electronico para recibir el link de reseteo de contraseña.' %}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}" class="visually-hidden" style="font-size: 3vh;">{% translate 'Email address:' %}</label>
            {{ form.email }}
        </div>
        <input type="submit"; style="font-size: 2vh;" value="{% translate 'Enviar link de reseteo' %}">
    </form>
</div>
{% endblock %}
