{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}"> 
{% endblock %}

{% block content %}
<div class="login-container"> 
    <h1 style="font-size: 3vh;">{% translate "Password Change Successful" %}</h1>
    <p style="font-size: 3vh;">{% translate 'Your password was changed successfully. You can now log in with your new password.' %}</p>
    <a href="{% url 'login' %}" class="btn btn-primary">{% translate 'Go to Login page' %}</a>
</div>
{% endblock %}