{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/modificacionLibro.css' %}"> 
{% endblock %}
{% block title %} Alta Autor {% endblock %}
{% block section_title %}Carga de Autor{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
  {% endfor %}
</ul>
{% endif %}



<form method="post" action="{% url 'altaAutor' %}">
    {% csrf_token %}
    <div class="formularioModificacion">
      <h2 class="formulario_titulo">Carga de Autor</h2>
      {{form.as_p}}
      <input type="submit" value="Crear" class="boton">
    </div>   
</form>
   
{% endblock %}

    
   

