{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Django - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Biblioteca Django</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Libros
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'altaLibro' %}">Carga de Libro</a></li>
                            <li><a class="dropdown-item" href="{% url 'modificacionLibro' %}">Modificar Libro</a></li>
                            <li><a class="dropdown-item" href="{% url 'listaLibro' %}">Lista de Libros</a></li>
                        </ul>
                    </li>
        
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Autores
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'altaAutor' %}">Alta de Autores</a></li>
                            <li><a class="dropdown-item" href="{% url 'listaAutor' %}">Lista de Autores</a></li>
                        </ul>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'prestamos' %}">Prestamos</a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuario_perfil' %}">Perfil de usuario</a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro' %}">Registro de usuario</a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>

                </ul>        
            </div>
        </nav>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </header>
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include "core/footer.html" %}
                </div>
            </div>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
