{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Django - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Libros
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'listaLibro' %}">Lista de Libros</a></li>
                                {% if request.user.is_staff or request.user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'altaLibro' %}">Carga de Libro</a></li>
                                    <li><a class="dropdown-item" href="{% url 'modificacionLibro' %}">Modificar Libro</a></li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Autores
                            </a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_staff or request.user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'altaAutor' %}">Alta de Autores</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'listaAutor' %}">Lista de Autores</a></li>
                            </ul>
                        </li>

                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'prestamos' %}">Préstamos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuario_perfil' user_id=request.user.id %}">Perfil de usuario</a>
                        </li>
                        <div class="ml-auto">
                            <li class="nav-item"> 
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <button class="btn btn-success">Cerrar Sesión</button>
                                </a>
                            </li>
                        </div>
                    {% endif %}
                    
                    </ul>
                </div>

                {% if not request.user.is_authenticated %}
                    <div class="navbar-nav ml-auto">
                        <ul class="navbar-nav"> 
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'registro' %}">
                                    <button class="btn" style="background-color: #3f9a78; color: white;">Registro</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">
                                    <button class="btn btn-success">Iniciar Sesión</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include "core/footer.html" %}
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
