{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="mt-5">
  <h1 class="text-center mb-3">Bienvenido a la Biblioteca</h1>

  <form method="GET" action="{% url 'resultados_busqueda' %}" class="text-center">
    {% csrf_token %}
    <div class="form-group mb-3">
      <input type="text" name="busqueda" placeholder="Buscar en nuestro catálogo por libro o autor" class="form-control dark-input" style="width: 60%; margin: 0 auto;">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block" style="width: 20%;">Buscar</button>
    </div>
  </form>
</div>
{% endblock %}
