<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ libro.titulo }}</title>
</head>
<body>


        <h1>{{ libro.titulo }}</h1>
        <p>Autor: {{ libro.autor }}</p>
        <p>Año de Publicación: {{ libro.anio_publicacion }}</p>
        <p>Género: {{ libro.genero }}</p>
        
        <!-- Display the image -->
        <img src="{{ libro.imagen }}" alt="Portada del libro: {{ libro.titulo }}" />
        
        
</body>
</html>

