{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/modificacionLibro.css' %}"> 
{% endblock %}
{% block title %} Modificar Libro {% endblock %}
{% block section_title %}Modificacion de libro{% endblock %}
{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

    

    <form method="post" action="{% url 'modificacionLibro' %}">
        {% csrf_token %}
        <div class="formularioModificacion">
          <h2 class="formulario_titulo">Modificacion de Libro</h2>
              {{modificacionLibro_form}}
          <input type="submit" value="Crear" class="boton">
        </div>   
    </form>
  
    
{% endblock %}