{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/prestamos.css' %}">
{%endblock%}
<body>
  <h1>Préstamo de Libros</h1>
  <form method="post" action="{% url 'prestamos_form' %}">
    {% csrf_token %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}  
    <!-- Campo Título del Libro -->
    <div>
        {{ form.titulo.label_tag }}
        {{ form.titulo }}
        {{ form.titulo.errors }}
    </div>

    <!-- Campo Autor -->
    <div>
        {{ form.autor.label_tag }}
        {{ form.autor }}
        {{ form.autor.errors }}
    </div>

    <div>
      {{ form.id_libro.label_tag }}
      {{ form.id_libro }}
      {{ form.id_libro.errors }}
  </div>
    <!-- Campo Nombre del Usuario -->
    <div>
        {{ form.nombre_usuario.label_tag }}
        {{ form.nombre_usuario }}
        {{ form.nombre_usuario.errors }}
    </div>

    <div>
      {{ form.id_usuario.label_tag }}
      {{ form.id_usuario }}
      {{ form.id_usuario.errors }}
  </div>
 <!-- Campo Fecha de Préstamo -->
 <div>
  {{ form.fecha_prestamo.label_tag }}
  {{ form.fecha_prestamo }}
  {{ form.fecha_prestamo.errors }}
</div>

    <!-- Botón de Enviar -->
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>
   

  <!-- Lista de préstamos existentes -->
  <h2>Préstamos Actuales</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Libro</th>
        <th>Usuario</th>
        <th>Fecha de Préstamo</th>
      </tr>
    </thead>
    <tbody>
      {% for prestamo in prestamos %}
      {% filter  upper %}
        <tr>
          <td>{{ prestamo.0 }}</td>
          <td>{{ prestamo.1 }}</td>
          <td>{{ prestamo.2 }}</td>
         
        </tr>
        {% endfilter %}
       
      {% empty %}
        <tr>
          <td colspan="3">No hay préstamos registrados.</td>
        </tr>
      
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}
