{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<body>


    <div class="login-container">
        <form method="post">
            <h2>Registro de Usuario</h2>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <ul class="errorlist hidden"> <!-- Añade la clase hidden aquí -->
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            {{ form.as_table }}  
            <input type="submit" value="Registrar"></button>
        </form>
    </div>
</body>

{% endblock %}